{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Autenticação</title>
    <link rel="stylesheet" href="{% static "css/auth.css"%}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,
wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,
900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<!--
  This was created based on the Dribble shot by Deepak Yadav that you can find at https://goo.gl/XRALsw
  I'm @hk95 on GitHub. Feel free to message me anytime.
-->

<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Don't have an account?</h2>
        <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
        <button class="user_unregistered-signup" id="signup-button">Sign up</button>
      </div>

      <div class="user_options-registered">
        <h2 class="user_registered-title">Have an account?</h2>
        <p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>

    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">Login Aluno</h2>
        <form class="forms_form" action="{% url 'aluno' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
            {%for message in messages %}
                <p class="alert">
                  {%if "login" in message.tags %}
                    {{message}}
                  {%endif%}
                </p>
            {%endfor%}
            {% csrf_token %}
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" placeholder="Email" class="forms_field-input" required autofocus />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <button type="button" class="forms_buttons-forgot">Forgot password?</button>
            <input type="submit" value="Log In" class="forms_buttons-action">
          </div>
        </form>
      </div>

      <div class="user_forms-signup">
        <h2 class="forms_title">Login Professor</h2>
        <form class="forms_form" action="{% url 'aluno' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
            {%for message in messages %}
                <p class="alert">
                  {%if "cad" in message.tags %}
                    {{message}}
                  {%endif%}
                </p>
                {%endfor%}
            {% csrf_token %}
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" placeholder="Email"  name="email" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" name="senha" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" value="Sign up" class="forms_buttons-action">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script rel="script" src="{% static "js/auth.js" %}" ></script>
</body>
</html>