body{
    background-color: rgba(0, 0, 0, 0.11);
}

.bg-side{
    background-color: #35ABC5;
    color: #545454;


}
.row{
    justify-content: center;
}

.header{
    border-bottom: 1px solid white;
    padding: 20px;
}

.body-form{
    padding: 20px;
}

.font-logo{
    margin-left: 10px;
    font-size: 40px;

}

.btn-custom-primary{
    background-color: #EB3939;
    border: none;
    box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 30%);
    color: white;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    margin-top: 20px;

}

.link-float{

    background-color: #937b89;
    border: none;
    box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 30%);
    color: white;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    margin-top: 20px;
    float: right;
    /* text-decoration: none;
    margin: 20px;
    color: #000000; */
}

.side-logo{
    text-align: center;
    margin-top: 60px;
}

.ot-side {
    background-color: #c2c2c2;
}

.link-float:hover, .btn-custom-primary:hover{
    background-color: rgb(31, 31, 31);
}