*{
	margin: 0 ;
	padding: 0 ;
	text-decoration:none;
	list-style:none;
}
img{
	width: 30px;
	padding: 9px;
	vertical-align: middle;
}
#nav-btn{
  fill:white;
  height:40px;
  position:absolute;
  right:10px;
  top:7px;
  display:none;
}


body {
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5  Arial, sans-serif;
  color: #232525;
}

aside{
	position:fixed;
	float:left;
	width:205px;
	padding-top:30px;
	top:0;
	bottom:0;
	z-index:400;
	background-color: #2b99ff ;
	text-align: center;
	border-right: 1px gray solid;

}

header{
	float:left;
	width:calc(93% - 230px);
	width:-moz-calc(93% - 230px);
	width:-webkit-calc(93% - 230px);
	padding-left:calc(230px + 7%);
	padding-left:-moz-calc(230px + 7%);
	padding-left:-webkit-calc(230px + 7%);
	padding-top:30px;
	padding-bottom:30px;
	background-color:rgba(247, 247, 247, .9);
	border-bottom:#2b99ff 2px solid;
	position:fixed;
	z-index:300;
}

article{
	float:left;
	margin-left: calc(230px + 9%);
	margin-left: -moz-calc(230px + 9%);
	margin-left: -webkit-calc(230px + 9%);
	margin-right: 9%;
	padding-top:200px;
	width:calc(82% - 230px);
	width:-moz-calc(82% - 230px);
	width:-webkit-calc(82% - 230px);

	padding-bottom: 150px;
}

nav{
  	display: flex;
    justify-content: center;

}

nav ul{
	text-align-last: justify;
}

nav ul li{
	line-height:30px;
}

nav ul li a{
	color: black;
	font-weight: bold;
}

nav ul li a:hover{
	color: #cec9e4;
}

#products{
	padding-top:40px;
	font-weight:bold;
	color:#F7F7F7;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	margin-bottom:50px;
	font-size: 1.5em;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:2.4em;
	font-weight:bold;
	color:#474958;
	-webkit-transition: font-size 0.3s;
	-moz-transition: font-size 0.3s;
	-o-transition: font-size 0.3s;
	transition: font-size 0.3s;
}

@media screen and (max-width: 600px) {
	h2{
  	font-size:2em;
  }
  aside{
		float:left;
		width:95%;
		padding-left: 5.3%;
		position:relative;
		padding-top: 10px;
		padding-bottom:10px;
	  	border-bottom: 1px gray solid ;
	  	box-shadow:  3px 1px 6px;
	}
	header{
		float:left;
		position:relative;
    	width: 95%;
    	padding-left: 5.4%;
	}
	nav{
		display: none;
  	}
	nav ul{
		text-align-last: unset;
	}
  #nav-btn{
    fill:white;
    height:40px;
    width:40px;
    position:absolute;
    right:15px;
    top:7px;
    display:block;
    cursor: pointer;
  }
	h1{
		margin-bottom: 0px;
	}
	.vertical-line {
		margin-top: 20px;
		margin-bottom: 20px;
    display:none;
	}
	#products {
		padding-top: 0;
	}
	article{
		float:left;
		width:90%;
		margin-left: 5%;
		margin-right: 5%;
		padding-top:50px;
	}
}